---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="3rem" gradient />
		<h2>Full Stack</h2>
		<p>
		 J'ai développé des compétences à la fois dans le développement front-end
		 et back-end, ce qui me permet d'aborder un projet de manière holistique,
		 de la conception de l'interface utilisateur à la gestion des bases de données.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="3rem" gradient />
		<h2>Curieux</h2>
		<p>
			Ma curiosité m'incite à explorer constamment de nouvelles technologies. 
			Que ce soit en plongeant dans des langages
		 	de programmation émergents, en expérimentant avec des frameworks innovants, ou en suivant les 
			dernières tendances, je suis toujours prêt à élargir mes horizons technologiques.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
	<Icon icon="adresse" color="var(--accent-regular)" size="3rem" gradient />
	<h2>Autonome</h2>
	<p>
		Mon autonomie me permet de prendre des initiatives et de travailler de manière indépendante, 
		j'excelle également dans la collaboration au sein d'équipes. J'apporte une contribution significative 
		tout en respectant les processus et en favorisant un environnement de travail harmonieux.
	</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
