---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="3rem" gradient />
		<h2>Full Stack</h2>
		<p>		 
			J'ai acquis des compétences à la fois dans la création visuelle d'un site (front-end)
 			et dans la gestion des données qui le soutiennent (back-end). Cela me permet 
			de voir un projet dans son ensemble, de la conception de l'apparence du site à la gestion des informations stockées.		
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="3rem" gradient />
		<h2>Curieux</h2>
		<p>
			Je suis constamment curieux et toujours prêt à découvrir de nouvelles technologies. 
			Que ce soit en explorant de nouveaux langages de programmation, en essayant des frameworks innovants
			ou en suivant les dernières tendances, j'aime élargir mes connaissances technologiques.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
	<Icon icon="adresse" color="var(--accent-regular)" size="3rem" gradient />
	<h2>Autonome</h2>
	<p>	
		Je suis autonome, ce qui me permet de prendre des initiatives et de travailler de manière indépendante. 
		En même temps, je suis aussi très compétent dans la collaboration au sein d'équipes. Je contribue de manière 
		significative tout en respectant les processus, favorisant un environnement de travail efficace et harmonieux.
	</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
